body 
{
    margin: 0;
}
h1
{
    margin: 50px;
}
h5
{
    color:hsl(206, 4%, 42%)
}
.img
{
    margin: 75px;
}
.nav
{
    background-color: hsla(203, 4%, 42%, 0.153);
    padding: 40px;
}
.bg
{
    background-color: hsla(203, 4%, 42%, 0.153);
    color: #fff;
    color: black;
}
.center
{
    text-align: center;
}
.footer
{
    padding: 5%;
    background-color:hsl(206, 12%, 12%);
    color:#fff;
}